@font-face {
	font-family: "fentglyph";
	src: url(fent-glyph.ttf);
}

* {
	font-family: OpenSans;
}

/* Code */
pre {
	display: block;
	font-family: monospace;
	padding: 10px;
	background-color: rgb(250, 250, 250);
	border-top: 1px solid #ddd;
}

/* Headlines */
h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}

/* Select */
.select {
    display: inline-block;
    position: relative;
    z-index: 5;
    user-select:none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.select .select-label {
 	padding: 10px;
 	cursor: default;
 	background-color: rgb(245, 245, 245);
 	background-color: #fff;
	border: 1px solid #ddd;

	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.select .select-label:hover {
	background-color: rgb(240, 240, 240);	
	border-color: #ccc;
	background-color: #fff;
}

.select .select-label::after {
	display: inline-block;
	content: "\e001";
	font-family: fentglyph;
	font-size: 20px;
	margin-left: 5px;
	color: #aaa;
	
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
}

.select.open .select-label {
	background-color: #fff;
	border-color: rgb(0, 149, 255);
}

.select.open .select-label::after {
	color: rgb(0, 149, 255);
	transform: rotate(180deg);
}

.select .options {
    display: inline-block;
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    /* padding: 5px; */
    background-color: #fff;
    /* margin-top: 5px; */
    border: 1px solid #ddd;
    left: 0;
	box-sizing: content-box;
}

.select .options .optgroup {
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.select .options .optgroup .optgroup-label {
	padding-left: 10px;
	color: #aaa;
}

.select .options .option {
	cursor: pointer;
	padding: 10px;
}

.select .options .option:hover {
	background-color: rgb(245, 245, 245);
}

.select .options .option.selected {
	padding-right: 0;
	color: rgb(0, 149, 255);
}

.select .options .option.selected::after {
	content: "\e000";
	font-family: fentglyph;
	margin-left: 5px;
	margin-right: 10px;
}

/* Input text */
textarea {


}

input[type=text], input[type=password], input[type=email], input[type=search], textarea  {
	position: relative;
	padding: 10px;
	border: 1px solid #ddd;
	outline: none;
	font-family: OpenSans;
	font-size: 15px;
	z-index: 0;
	
	transition: border 0.2s;
	-webkit-transition: border 0.2s;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=search]:focus {
	border-color: rgb(0, 149, 255);
}

input[type=text].red:focus, input[type=password].red:focus, input[type=email].red:focus, input[type=search].read:focus  {
	border-color: rgb(235, 0, 0);	
}

input[type=text].green:focus, input[type=password].green:focus, input[type=email].green:focus, input[type=search].green:focus  {
	border-color: rgb(0, 215, 119);
}

input[type=text].yellow:focus, input[type=password].yellow:focus, input[type=email].yellow:focus, input[type=search].yellow:focus  {
	border-color: rgb(240, 200, 0);
}

.input-before {
	display: inline-block;
	position: absolute;
	padding-left: 10px;
	padding-right: 5px;
	font-size: 15px;
	//opacity: 0;

	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}

.input-before.active {
	//opacity: 0.3;
	margin-top: -21px;

	//background-color: rgba(0,0,0,0.3);
	//color: #fff;
	color: rgb(0, 149, 255);
	border-bottom: 1px solid rgb(0, 149, 255);
}

.input-before.focus {
	//opacity: 1;
	background-color: rgb(0, 149, 255);
	color: #fff !important;
}

.input-before.red.active {
	color: rgb(235, 0, 0);
	border-color: rgb(235, 0, 0);
}
.input-before.red.focus {
	background-color: rgb(235, 0, 0);
}

.input-before.green.active {
	color: rgb(0, 215, 119);
	border-color: rgb(0, 215, 119);
}
.input-before.green.focus {
	background-color: rgb(0, 215, 119);
}

.input-before.yellow.active {
	color: rgb(240, 200, 0);
	border-color: rgb(240, 200, 0);
}
.input-before.yellow.focus {
	background-color: rgb(240, 200, 0);
}

.input-placeholder {
	display: inline;
	position: absolute;
	padding: 10px;
	z-index: 1;
	opacity: 0;
	font-size: 15px;
	cursor: text;
	margin-top: -10px;

	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}

.input-placeholder.active {
	opacity: 1;
	color: #aaa;
	margin-top: 0;
}

/* Dialog */
.dialog {
	position: absolute;
	width: 60%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	background-color: #fff;
	outline: 10px solid #eee;
	border: 1px solid #ddd;
	
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}

.dialog .title {
	padding-top: 20px;
	padding-left: 20px;
	font-size: 30px;
}

.dialog .content {
	padding: 20px;
}

.dialog .buttons {
	background-color: rgb(250, 250, 250);
	padding-left: 20px;
}

/* Tabs */
.tabs {
    display: block;
    background-color: rgb(250,250,250);
    border: 1px solid #eee;
    cursor: default;
    border-bottom: 1px solid #0095ff;
}

.tabs .tab, .tabs .tab:visited {
    display: inline-block;
    padding: 10px;
    margin: 0;
    color: inherit;
    text-decoration: none;
}

.tabs .tab:hover, .tabs .tab:hover:visited {
	/* background-color:rgba(0,0,0,0.2); */
	color: #0095ff;
}

.tabs .tab.selected, .tabs .tab.selected:hover {
	background-color:#0095ff;
	color: #fff;
}

/* Buttons */
.button {
	display: inline-block;
	padding: 10px;
	margin-right: 10px;
	/* background-color: rgb(0, 129, 235); */
	/* color: #fff; */
	background-color: transparent;
	background-color: rgba(0, 129, 235, 0.1);
	color: rgb(0, 129, 235);
	cursor: pointer;
	
	transition: all 0.15s;
	-webkit-transition: all 0.15s;
}

.button:hover {
	background-color: rgb(0, 149, 255);
	color: #fff !important;
}

.button.red {
	background-color: rgba(235, 0, 0, 0.1);
	color: rgb(235, 0, 0);
}
.button.red:hover {
	background-color: rgb(235, 0, 0);
}

.button.green {
	background-color: rgba(0, 215, 119, 0.1);
	color: rgb(0, 215, 119);
}
.button.green:hover {
	background-color: rgb(0, 215, 119);
}

.button.yellow {
	background-color: rgba(240, 200, 0, 0.1);
	color: rgb(240, 200, 0);
}
.button.yellow:hover {
	background-color: rgb(240, 200, 0);
}

/* Checkbox */
.checkbox {
	display: inline-block;
	position: relative;
	width: 20px;
	height: 20px;
	border: 1px solid #ddd;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	margin-bottom: -4px;
	
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}

.checkbox:hover {
	background-color: rgb(245, 245, 245);
}

.checkbox:active {
	background-color: rgb(240, 240, 240);
}

.checkbox:after {
	content: "\e000";
	font-family: fentglyph;
	color: rgb(0, 149, 255);
	position: absolute;
	font-size: 5px;
	bottom: 5px;
	left: 5px;
	
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	opacity: 0;
}


.checkbox.checked:after {
    opacity: 1;
    font-size: 21px;
    bottom: -5px;
    left: 0px;
}

/* Radiobutton */
.radiobutton {
	display: inline-block;
	position: relative;
	width: 20px;
	height: 20px;
	border: 1px solid #ddd;
	border-radius: 20px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	margin-bottom: -4px;
	
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}

.radiobutton:hover {
	background-color: rgb(245, 245, 245);
}

.radiobutton:active {
	background-color: rgb(240, 240, 240);
}

.radiobutton.checked {
    //background-color: rgb(0, 149, 255);	
}

.radiobutton:after {
    content: "\e001";
    font-family: fentglyph;
    
    display: block;
    content: "";
    height: 5px;
    width: 5px;
    border-radius: 50%;
    
    background-color: rgb(0, 149, 255);	
    //color: #fff;
    position: absolute;
    font-size: 5px;
    left: 7px;
    top: 7px;
    
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	opacity: 0;
}

.radiobutton.checked:after {
	opacity: 1;
    left: 2.3px;
    top: 2.5px;
    width: 13px;
    height: 13px;
}